body{
    background-color: #d9f1f1;
}
div{
    background-color: hsl(45, 78%, 91%);
    border-radius: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 10px;
    border-color:#fdafad;
    border-style: dashed;
}
h1, h2{
    color:#fdafad;
}
img{
    width: 300px;
    border-radius: 30px;
    border-style: solid;
    border-width: 10px;
    border-color: #fdafad;
}